.result__main {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35px;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 10px;
}
.triangle__result {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}
.rect__btn {
  border: none;
  background-color: green;
  color: whitesmoke;
  border-radius: 5px;
}
.result___main {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.blog_btn {
  padding: 5px 45px;
  background-color: slateblue;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
}
.blog_btn > a {
  text-decoration: none;
  color: whitesmoke;
}
